@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
--Vry-drk-desaturated-blue: hsl(238, 29%, 16%); /* Text */
--Soft-red: hsl(14, 88%, 65%); /* Text */
--Soft-violet: hsl(273, 75%, 66%); /* Gradient */
--Soft-blue: hsl(240, 73%, 65%); /* Gradient */
--Vry-drk-grayish-blue: hsl(237, 12%, 33%); /* Text */
--Drk-gray-blue: hsl(240, 6%, 50%); /* Text drk*/
--Lt-gray-blue: hsl(240, 5%, 91%); /* Dividers */
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  margin: 0;
  padding: 5rem;
  font-family: 'Kumbh Sans',sans-serif;
  background-image: -moz-linear-gradient(
    var(--Soft-violet),
    var(--Soft-blue)
  );
  color: var(--Vry-drk-desaturated-blue);
}

.main_container{
  position: relative;
  display: flex;
  max-width: 56rem;
  background: white;
  border-radius: 2rem;
  padding: 4.375rem 6.25rem 4.375 0;
  background-image: url('images/bg-pattern-desktop.svg');
  background-position: -13% center;
  background-size: 48%;
  background-repeat: no-repeat;
}

.card_box{
  display: block;
  position: absolute;
  z-index: 1;
  top:39%;
  left:80px;
  transform: translate(-50%) translate(-50%);
}

.card_image{
display: flex;
align-items: center;
overflow: hidden;
}
.card_image img {
  position:relative ;
  top: auto;
  left: auto;
  max-width: 25rem;
  transform: translate(-4rem);
}
h1{
  margin-top: 30px;
  padding-bottom: 40px;
}

.panel p{
  display: none;
}

.accordion_item{
  display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border: none;
	background: transparent;
	margin-bottom: 1rem;
	padding: 0.2rem;
	font-size: 0.875rem;
	font-family: 'Kumbh Sans', sans-serif;
	text-align: left;

}
.accordion_box{
  padding-top: 1rem;
	border-bottom: 1px solid var(--Lt-gray-blue);
  width: 100%;  
}
.accordion__box h2 {
	margin-bottom: 0;
}